<form action="/puntaje" method="post">
	<input type="submit" value="MostrarPuntaje" >
</form>

<form action="/energia" method="post">
	<input type="submit" value="MostrarEnergia" >
</form>

<%= @puntaje %>
<%= @energia %>
