Juego Creado!!
<table >
<tr>
<td>Jugador 1</td>
<td>Jugador 2</td>
</tr>
<tr>
<td>
<form action="/patadajugador1" method="POST">
<input type="submit" value="Patada Jugador 1" />
</form>
</td>
<td>
<form action="/patadajugador2" method="POST">
<input type="submit" value="Patada Jugador 2" />
</form>
</td>
</tr>
<tr>
<td>
<form action="/punetej1" method="POST">
<input type="submit" value="punete j1" />
</form>
</td>
<td>
<form action="/punetej2" method="POST">
<input type="submit" value="punete j2" />
</form>
</td>
</tr>
<tr>
<td>
<div> Vida: <%=@puntajejugador1 %></div>
</td>
<td>
<div> Vida: <%=@puntajejugador2 %></div>
</td>
</tr>
<tr>
<td>
<div> Energia: <%=@energiajugador1 %></div>
</td>
<td>
<div> Energia: <%=@energiajugador2 %></div>
</td>
</tr>
</table>




