<form name="jugador1" action ="/punetej1" method="post">
	<input type="submit" value="Punete J1">
</form>

<form name="jugador2" action ="/punetej2" method="post">
	<input type="submit" value="Punete J2">
</form>

<form  action ="/recargarenergiaj1" method="post">
	<input type="submit" value="Recarga Energia J1">
</form>


<form  action ="/recargarenergiaj2" method="post">
	<input type="submit" value="Recarga Energia J2">
</form>

<%= @puntaje %>
<%= @puntajeEnergia%>

