<form name="jugador1" action ="/punetej1" method="post">
	<input type="submit" value="punete j1">
</form>

<form name="jugador2" action ="/punetej2" method="post">
	<input type="submit" value="punete j2">
</form>

<form  action ="/recargarenergia" method="post">
	<input type="submit" value="recargar energia">
</form>

<%= @puntaje %>

10-0

